.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
}

.mainInfo {
  max-width: 350px;
  margin-left: 200px;
  h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: medium;
    margin: 5px;
  }
  p {
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
  }
}

.planetImg {
  position: relative;
}
.geologyImg {
  position: absolute;
  left: 33%;
  top: 82%;
  img {
    width: 100px;
  }
}
