.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    align-items: center;
    margin: 50px 100px;
    width: 100%;
    max-width: 1250px;
    
}

@media (max-width:50em){
.container{
    flex-direction: column;
    width: 100%;
    
}
}